name: Monthly GitHub Maintenance

on:
  schedule:
    # every 1st of the month at 01:00 AM UTC
    - cron:  "0 1 1 * *"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  stale_branches:
    runs-on: ubuntu-24.04

    permissions:
      issues: write
      contents: write

    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.PR_APP_ID }}
          private-key: ${{ secrets.PR_APP_KEY }}

      - name: Stale Branches
        uses: crs-k/stale-branches@v8.2.2
        with:
          repo-token: ${{ steps.app-token.outputs.token }}
          days-before-stale: 365
          days-before-delete: 455
          comment-updates: true
          tag-committer: true
          stale-branch-label: "stale branch"
          compare-branches: "info"
          pr-check: true
