name: Monthly GitHub Maintenance

on:
  schedule:
    # every 1st of the month at 01:00 AM UTC
    - cron:  "0 1 1 * *"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  stale_branches:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.PR_APP_ID }}
          private-key: ${{ secrets.PR_APP_KEY }}

      - name: Stale Branches
        uses: phpdocker-io/github-actions-delete-abandoned-branches@v2.0.3
        with:
          github_token: ${{ steps.app-token.outputs.token }}
          last_commit_age_days: 450
          dry_run: yes
