name: GitHub Maintenance

on:
  schedule:
    # Run on 1st and 15th of every month at 01:00 AM UTC
    - cron:  "0 1 1,15 * *"
  workflow_dispatch:

permissions:
  issues: write
  contents: write

jobs:
  stale_branches:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ vars.PR_APP_ID }}
          private-key: ${{ secrets.PR_APP_KEY }}

      - name: Stale Branches
        uses: crs-k/stale-branches@v5
        with:
          repo-token: ${{ steps.app-token.outputs.token }}
          days-before-stale: 365
          days-before-delete: 99999
          comment-updates: true
          tag-committer: true
          stale-branch-label: "stale branch"
          compare-branches: "info"
          pr-check: true
