name: GitHub Maintenance

on:
  schedule:
    # Run on 1st and 15th of every month at 01:00 AM UTC
    - cron:  "0 1 1,15 * *"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  stale_branches:
    runs-on: ubuntu-24.04

    permissions:
      issues: write
      contents: write

    steps:
      - uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ vars.PR_APP_ID }}
          private-key: ${{ secrets.PR_APP_KEY }}

      - name: Stale Branches
        uses: crs-k/stale-branches@v7.0.0
        with:
          repo-token: ${{ steps.app-token.outputs.token }}
          days-before-stale: 365
          days-before-delete: 99999
          comment-updates: true
          tag-committer: true
          stale-branch-label: "stale branch"
          compare-branches: "info"
          pr-check: true

  pre-commit-auto-update:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - uses: browniebroke/pre-commit-autoupdate-action@v1.0.0

      - if: always()
        uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ vars.PR_APP_ID }}
          private-key: ${{ secrets.PR_APP_KEY }}

      - if: always()
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ steps.app-token.outputs.token }}
          commit-message: "Automated `pre-commit` hook update"
          branch: pre-commit-hooks-update
          title: "[MNT] Automated `pre-commit` hook update"
          body: "Automated weekly update to `.pre-commit-config.yaml` hook versions."
          labels: maintenance, full pre-commit

  github-security-scorecard:
    runs-on: ubuntu-24.04

    permissions:
      security-events: write
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - uses: ossf/scorecard-action@v2.4.1
        with:
          results_file: results.sarif
          results_format: sarif
          publish_results: true

      - uses: actions/upload-artifact@v4
        with:
          name: SARIF file
          path: results.sarif
          retention-days: 5

      - uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: results.sarif
