name: PR Examples

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - "examples/**"
      - "tsml_eval/**"
      - ".github/workflows/**"
      - "pyproject.toml"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  run-notebook-examples:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Restore numba cache
        uses: ./.github/actions/numba_cache
        with:
            cache_name: "run-notebook-examples"
            runner_os: ${{ runner.os }}
            python_version: "3.12"

      - name: Install
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 30
          max_attempts: 3
          command: python -m pip install .[all_extras,dev,binder,unstable_extras]

      - name: Run example notebooks
        run: .github/utilities/run_examples.sh ${{ github.event_name != 'pull_request' || !contains(github.event.pull_request.labels.*.name, 'full examples run') }}
        shell: bash
